@import "colors.css";

.formacao {
  background: var(--fundo-3);
  color: var(--texto-3);
}

.formacao-container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.formacao-container::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("/Images/detalhe.svg") no-repeat center;
  position: absolute;
  bottom: -50px;
}

.formacao .subtitulo {
  color: var(--texto-2);
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: var(--texto-3);
}

.formacao strong {
  color: var(--texto-3);
}

.curso-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.curso {
  background: var(--fundo-3);
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.curso-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--texto-3);
  margin-bottom: 10px;
}

.curso-curso {
  font-size: 1.125rem;
  flex: 1;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}
.curso-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(var(--cor-primaria-1), var(--cor-primaria-2));
  position: absolute;
  left: -24px;
}

.curso-instituicao {
  font-size: 1.125rem;
  color: var(--cor-primaria-2);
}

.cursos {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--cor-primaria-2);
  text-transform: uppercase;
  margin-bottom: 10px;
  position: relative;
}

.formacao-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background: url(/Images/cursos.svg) no-repeat center center;
  position: absolute;
  left: -36px;
  top: -4px;
}

.cursos h3::before {
  background: url(/Images/cursos.svg);
}

.idiomas h3::before {
  background: url(/Images/idiomas.svg);
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao .subtitulo {
    color: var(--texto-3);
    text-transform: uppercase;
  }

  .formacao-texto {
    font-size: 1.25rem;
  }
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}
