@import "colors.css";

.header {
  padding: 40px 70px;
  margin: 0 auto;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(10deg, var(--fundo-1), #1784ff);
}

.logo {
  max-width: 200px;
  height: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 10px;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  font-family: "roboto";
  font-weight: regular;
  padding: 5px 10px;
  max-width: 400px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--texto-1);
  display: block;
  border-bottom: 4px solid transparent;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-0);
  margin-top: 4px;
  transition: ease-in 0.03s;
  position: absolute;
}

.header-menu a:hover::after {
  border-bottom: 3px solid #004aad;
  transition: 0.03s;
  width: 80%;
}

.header-menu button {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--texto-1);
  display: grid;
  background: none;
  border: none;
}

.header-menu button:hover {
  transition: 0.03s;
  cursor: pointer;
  background: none;
}

@media (max-width: 900px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0px 20px;
    max-width: 100%;
    height: 100px;
    background: linear-gradient(10deg, var(--fundo-1), #1784ff);
  }
  .header-menu a {
    max-width: 100%;
    display: grid;
    grid-template-rows: 2;
    background: none;
    font-size: 1rem;
    position: relative;
    border-bottom: solid 4px transparent;
  }
  .header-menu a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: var(--cor-0);
    margin-top: 4px;
    transition: ease-in 0.03s;
    position: absolute;
  }

  .header-menu a:hover::after {
    border-bottom: none;
    transition: 0.03s;
    width: 75%;
  }

  .logo {
    display: flex;
    justify-self: center;
    width: 100px;
  }
}

@media (max-width: 450px) {
  .header {
    display: grid;
    gap: 20px;
    padding: 0px 20px;
    max-width: 100%;
    height: 125px;
    background: linear-gradient(10deg, var(--fundo-1), #1784ff);
  }
  .header-menu a,
  .header-menu button {
    max-width: 100%;
    display: inline-block;
    grid-template-rows: 2;
    background: none;
    font-size: 0.75rem;
  }

  .header-menu button:hover {
    border-bottom: none;
    background: none;
  }

  .header-menu a:hover::after,
  .header-menu a.ativo::after {
    border-bottom: none;
    transition: 0.03s;
    width: 72%;
  }

  .logo {
    display: flex;
    justify-self: center;
    width: 100px;
  }
}
