body {
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 8fr;
  gap: 100px;
  align-items: center;
  background: var(--fundo-1);
}
.introducao img {
  border-radius: 5px;
  box-shadow: 5px 5px 5px #555;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("/Images/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: var(--texto-2);
  width: 400px;
  position: relative;
}

.introducao p::before {
  content: "";
  width: 100px;
  height: 4px;
  margin-top: -8px;
  background: #1784ff;
  position: absolute;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    font-size: 2rem;
  }

  .introducao img {
    display: none;
  }

  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
