body {
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 8fr;
  gap: 100px;
  align-items: center;
  background: var(--fundo-1);
}
.introducao img {
  border-radius: 5px;
  box-shadow: 5px 5px 5px #555;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao p {
  font-size: 1.5rem;
  color: var(--texto-2);
  width: 400px;
  position: relative;
  padding-left: 6px;
}

.introducao p::before {
  content: "";
  width: 100px;
  height: 4px;
  background: #1784ff;
  position: absolute;
  top: -10px;
}

@media (max-width: 900px) {
  .introducao {
    gap: 40px;
    font-size: 2rem;
  }

  .introducao img {
    display: none;
  }

  .introducao h1 {
    font-size: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 30px;
  }

  .introducao p::before {
    font-size: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }

  .introducao p {
    font-size: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }
}
